body{
    max-width: 100%;
}
.all{
    margin-top: 70px;
    margin-bottom: 70px;
    border: solid black 1px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.main{
    display: none;
}
.main.is-active{
    display: block;
}

.titulo-encabezado{
    text-align: center;
}
#data-container{
    margin-top: 70px;
    margin-bottom: 70px;
    border: solid 1px black;
    padding: 20px;
}
.registro-operaciones-container{
    border: solid black 1px;
    margin-top: 20px;
}
.registro-operaciones-container h2{
    text-align: center;
}
.cabecera-table{
    width: 100% !important;
}
.spinner{
    top: 0;
    position: absolute;
    background-color: rgba(63, 63, 63, 0.274);
    width: 100%;
    height: 100%;
}
.hiden{
    overflow: hidden !important;
}
.container-spinner{
    height: 100%;
}
.none{
    display: none !important;
    position: relative;
}
#container-operaciones{
    margin-bottom: 70px;
    padding: 20px;
}
