body{
    max-width: 100%;
}
.all{
    margin-top: 20px;
    margin-bottom: 70px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center !important;
    box-shadow: 1px 3px 15px -4px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px 3px 15px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 3px 15px -4px rgba(0,0,0,0.75);
    border-radius: 1%;
}
h1{
    text-shadow: 0px 4px 2px rgba(0,0,0,0.08);
}
.main{
    display: none;
}
.main.is-active{
    display: block;
}

.titulo-encabezado{
    text-align: center;
}
#data-container{
    margin-bottom: 70px;
    border: solid 1px black;
    padding: 20px;
    max-width: 60%;
    min-width: fit-content;
    margin-top: 60px;
}
.registro-operaciones-container{
    border: solid black 1px;
    margin-top: 20px;
    box-shadow: 1px 3px 15px -4px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px 3px 15px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 3px 15px -4px rgba(0,0,0,0.75);
    border-radius: .1%;
}
.registro-operaciones-container h2{
    text-align: center;
}
.cabecera-table{
    width: 100% !important;
}
.spinner{
    top: 0;
    position: absolute;
    background-color: rgba(63, 63, 63, 0.274);
    width: 100%;
    height: 100%;
}
.hiden{
    overflow: hidden !important;
}
.container-spinner{
    height: 100%;
}
.none{
    display: none !important;
    position: relative;
}
#container-operaciones{
    margin-bottom: 70px;
    padding: 20px;
}
#etiquetaSelect{
    width: 130px;
}
.container-button{
    margin-top: 10px;
}
.etiquetaSelect{
    margin-bottom: 5px;
}